<a href="https://colab.research.google.com/github/JCbarajas5/Machine-Learning-Anahuac/blob/main/KNN_Base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [2]:
data=pd.read_csv("diabetes.csv")
data.head()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares,Diabetes
0,58,32.4,158,104,133,248,3,1,1
1,71,26.8,82,62,170,152,7,1,1
2,48,28.2,142,81,286,234,8,0,1
3,34,22.1,146,103,189,274,0,0,1
4,62,30.2,137,61,118,287,3,0,1

In [3]:
data.shape

(800, 9)

In [4]:
data.columns

Index(['Edad', 'IMC', 'Glucosa', 'Presion_Arterial', 'Insulina', 'Colesterol',
       'Actividad_Fisica', 'Antecedentes_Familiares', 'Diabetes'],
      dtype='object')

In [5]:
data.describe()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares,Diabetes
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,50.486250,28.356250,135.042500,89.953750,155.533750,226.981250,4.528750,0.528750,0.748750
std,17.250994,5.320949,38.573476,17.062107,80.826806,43.851192,2.815419,0.499485,0.434003
min,20.000000,14.100000,70.000000,60.000000,15.000000,150.000000,0.000000,0.000000,0.000000
25%,36.000000,24.700000,101.000000,76.000000,87.000000,189.000000,2.000000,0.000000,0.000000
50%,51.000000,28.200000,136.000000,91.000000,153.000000,227.000000,5.000000,1.000000,1.000000
75%,66.000000,32.025000,170.000000,104.000000,223.000000,265.000000,7.000000,1.000000,1.000000
max,79.000000,43.800000,199.000000,119.000000,299.000000,299.000000,9.000000,1.000000,1.000000

In [27]:
X=data.iloc[:, 0:8]
X.shape

(800, 8)

In [32]:
Y=data['Diabetes']
Y.shape

(800,)

In [33]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [34]:
knn=KNeighborsClassifier(n_neighbors=5, metric="euclidean")
cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

In [36]:
accuracy_scores_knn=cross_val_score(knn, X_scaled, Y, cv=cv, scoring="accuracy")

In [37]:
print("Accuract de cada bloque", accuracy_scores_knn)
print("Accuract promedio", np.mean(accuracy_scores_knn))
print("Accuracy desviacion", accuracy_scores_knn.std())

Accuract de cada bloque [0.8875  0.90625 0.90625 0.90625 0.88125]
Accuract promedio 0.8975
Accuracy desviacion 0.010897247358851699

In [38]:
from sklearn.metrics import f1_score
f1_scores_knn=cross_val_score(knn, X_scaled, Y, cv=cv, scoring="f1")

In [39]:
print("F1 de cada bloque", f1_scores_knn)
print("F1 promedio", f1_scores_knn.mean())
print("F1 desviacion", f1_scores_knn.std())

F1 de cada bloque [0.92622951 0.9382716  0.93877551 0.93723849 0.92307692]
F1 promedio 0.9327184080279695
F1 desviacion 0.006678648223641893